@{
    //definindo o layout da página
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <h4>Esqueci minha senha</h4>
    <p>Informe os dados abaixo para recuperar a senha de acesso da empresa.</p>
    <hr />
</div>