@{
    //definindo o layout da página
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <h4>Criar conta de usuário</h4>
    <p>
     Informe os dados de sua empresa para criar uma conta de acesso
    </p>
    <hr />
</div>