@{
    //definindo o layout da página
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <h4>Criar conta de usuário</h4>
    <p>
     Informe os dados de sua empresa para criar uma conta de acesso
    </p>
    <hr />
</div>
<form>
    <div class="mb-2">
        <label>Informe o nome da empresa:</label>
        <input type="text" class="form-control"
               placeholder="Ex: Supermecados PreçoBom" />

    </div>
    <div class="mb-2">
        <label>Informe o email:</label>
        <input type="text" class="form-control"
               placeholder="Ex: mercadopb@gmail.com" />

    </div>
    <div class="mb-2">
        <label>Informe a senha:</label>
        <input type="password" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Confirme sua senha:</label>
        <input type="password" class="form-control" />
    </div>
    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary"
               value="Realizar Cadastro" />

    </div>
    <div class="mb-2 text-center">
        Já possui conta?
        <a href="/Account/Login">Acesse aqui!</a>
    </div>
</form>